/* LOADING */
.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  overflow: hidden;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
}
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loading-img-wrapper {
}
.loading-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loading-text-name {
  opacity: 0;
  font-size: 2rem;
  padding-top: 2rem;
}
.loading-text-title {
  opacity: 0;
  font-size: 1.3rem;
  color: #acaeb6;
  padding-top: 1.8rem;
}
/* HOME CONTENT */
.home-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.home-text-wrapper {
  bottom: 30%;
  right: 32rem;
  display: flex;
  transform: translate(29rem, -15rem);
}

.home-text {
  font-size: 3.5rem;
  color: #ffffff;
  font-family: 'Anton', sans-serif;
  opacity: 0;
}

.button-wrapper {
  transform: translate(37rem, -12rem);
  opacity: 0;
  position: relative;
  width: 11rem;
}
.button-wrapper a {
  position: absolute;
  border: 2px solid #00b1bd;
  border-radius: 3rem;
  color: #00b1bd;
  font-size: 2rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  cursor: pointer;
  top: 0;
  right: 0;
  width: 7rem;
  height: 2rem;
  transition: 1s ease;
  display: flex;
  align-items: center;
}

.button-wrapper p {
  position: absolute;
  transition: 1s ease;
}

.button-wrapper ion-icon {
  font-size: 1rem;
  transition: 1s ease;
  opacity: 0;
  color: black;
  align-self: center;
}

.button-wrapper:hover a {
  width: 1rem;
  background-color: #00b1bd;
}
.button-wrapper:hover p {
  transform: translateX(-9rem);
}
.button-wrapper:hover ion-icon {
  transform: scale(2);
  opacity: 1;
}

/* ABOUT CONTENT */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.about-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 42rem;
  justify-content: center;
}
.about-textbox {
  height: 100%;
  transform: translateX(-16rem);
}
.about-greeting {
  font-size: 5rem;
  color: #00b1bd;
  display: flex;
  gap: 1rem;
  padding-bottom: 7rem;
}
.about-greeting p {
  opacity: 0;
}
.about-text {
  font-size: 2rem;
  padding-top: 3rem;
  line-height: 3rem;
  opacity: 0;
  color: #acaeb6;
}

/* SKILL CONTENT */
#skill {
  display: flex;
  justify-content: center;
}
.skill-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: relative;
}
.skill-title {
  color: #ffffff;
  font-size: 4rem;
  position: absolute;
  transform: translate(-31rem, 0);
  top: 15rem;
}
.skill-content-wrapper {
  justify-content: center;
  padding-top: 15rem;
}
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 24rem);
  grid-template-rows: repeat(3, 20rem);
  gap: 1.5rem;
}
.skill-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}
.skill-wrapper span {
  font-size: 1.5rem;
  color: #ffffff;
}
.skill-wrapper svg {
  color: #00b1bd;
}

/* PROJECT CONTENTS */

#project {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.project-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-title {
  font-size: 4rem;
  padding-bottom: 4rem;

  transform: translateX(-28rem);
}
.project-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  max-width: 130rem;
}
.project-content-card {
  position: relative;
  border-radius: 1rem;
  max-width: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}
.card-front-skills {
  position: absolute;
  bottom: 0;
  left: 0;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: 7rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  align-items: center;
}
.card-front-skills li {
  font-size: 1.3rem;
}
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  backface-visibility: hidden;
}
.card-front img {
  border-radius: 1rem;
  width: 100%;
  filter: brightness(0.8);
}
.card-back {
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-back-title {
  color: #00b1bd;
  font-size: 3rem;
}
.card-back-text {
  color: #2b2b2b;
  font-size: 1.5rem;
  padding: 2rem 4rem;
}
.card-back-btn {
  display: flex;
  gap: 2rem;
  align-self: flex-end;
  margin-right: 6rem;
}
.btn-git,
.btn-live {
  text-decoration: none;
  font-size: 1.2rem;
  color: #acaeb6;
  cursor: pointer;
}
