@media (max-width: 1536px) {
  .skill-title {
    transform: translate(-31rem, -3rem);
  }
  .skill-wrapper svg {
    width: 60px;
    height: 60px;
  }
  .grid-4 {
    grid-template-columns: repeat(4, 24rem);
    grid-template-rows: repeat(3, 13rem);
  }
  .project-content-card {
    max-width: 50rem;
  }
  .skill-title,
  .project-title,
  .contact-title {
    font-size: 3rem;
  }
}
@media (max-width: 1370px) {
  .home-contents svg {
    width: 800px;
  }
  .home-text-wrapper {
    transform: translate(20rem, -15rem);
  }
  .button-wrapper {
    transform: translate(28rem, -12rem);
  }
  .about-textbox {
    transform: translateX(-8rem);
  }

  .skill-title {
    transform: translate(-25.5rem, -3rem);
  }
  .grid-4 {
    grid-template-columns: repeat(4, 19.5rem);
    grid-template-rows: repeat(3, 11rem);
  }
  .project-title {
    transform: translateX(-22rem);
  }
  .project-content-card {
    max-width: 40rem;
  }
  .contact-title {
    transform: translateX(-24rem);
  }

  .gform {
    gap: 2rem;
    font-size: 1.5rem;
  }
  .overlay-nav a {
    font-size: 4rem;
  }
}

@media (max-width: 1200px) {
  .home-contents svg {
    width: 700px;
    height: 500px;
  }
  .home-text-wrapper {
    transform: translate(16rem, -15rem);
  }
  .button-wrapper {
    transform: translate(24.5rem, -12rem);
  }

  .about-contents {
    padding-top: 25rem;
  }
  .about-textbox {
    transform: translateX(-4rem);
    padding-top: 1rem;
  }

  .skill-title {
    transform: translate(-25.5rem, -3rem);
  }
  .grid-4 {
    grid-template-columns: repeat(4, 15.5rem);
    grid-template-rows: repeat(3, 9rem);
  }
  .skill-wrapper svg {
    width: 50px;
    height: 50px;
  }
  .skill-wrapper span {
    font-size: 1.2rem;
  }

  .project-title {
    transform: translateX(-22rem);
  }
  .project-content-card {
    max-width: 40rem;
  }
  .contact-title {
    transform: translateX(-24rem);
  }
  .overlay-header {
    padding: 0 1rem 0 0;
  }
  .overlay-nav a {
    font-size: 3rem;
  }
  .overlay-footer {
    height: 13rem;
  }
  .overlay-footer li {
    font-size: 3rem;
  }
}

@media (max-width: 1007px) {
  .skill-title,
  .project-title,
  .contact-title {
    font-size: 2rem;
  }
  .header {
    border-right: none;
  }
  .overlay-header {
    padding: 0 1rem 0 0;
  }
  .header-content {
    display: none;
  }
  .nav-button-wrapper {
    top: 0;
    left: 0;
    transform: translate(2rem, 2rem);
  }
  .overlay-nav {
    height: 50%;
  }
  .overlay-nav ul {
    height: 100%;
    flex-direction: column;
  }
  .menu-padding {
    padding-left: 0;
    width: 100%;
  }

  .home-contents svg {
    width: 500px;
    height: 300px;
  }
  .home-text-wrapper {
    transform: translate(6rem, -4rem);
  }
  .button-wrapper {
    transform: translate(14rem, -4rem);
  }
  .about-greeting {
    font-size: 3.5rem;
    padding-bottom: 3.5rem;
  }
  .about-text {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .about-contents {
    padding-top: 16rem;
  }
  .about-textbox {
    transform: translateX(-0.5rem);
    padding-top: 1rem;
  }

  .skill-title {
    transform: translate(-13.5rem, -12rem);
  }
  .grid-4 {
    grid-template-columns: repeat(3, 15.5rem);
    grid-template-rows: repeat(4, 9rem);
  }
  #skill,
  #contact {
    min-height: auto;
  }
  .project-title {
    transform: translateX(-10.5rem);
    padding-top: 15rem;
  }
  .project-content-card {
    max-width: 38rem;
  }
  .contact-contents {
    height: auto;
  }
  .contact-title {
    transform: translateX(-11rem);
    padding-top: 15rem;
  }
  .contact-form {
    padding-bottom: 8rem;
    width: 60%;
  }
}

@media (max-width: 640px) {
  #nav-btn {
    font-size: 3rem;
  }
  .exit-btn ion-icon {
    font-size: 3rem;
  }
  .overlay-nav ul {
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .overlay-header {
    height: 7rem;
  }
  .overlay-img-wrapper {
    display: flex;
    align-items: center;
  }
  .overlay-img-wrapper svg {
    width: 5rem;
    height: 5rem;
  }
  .overlay-footer {
    height: 7rem;
    justify-content: center;
    margin: 0;
  }
  .home-contents svg {
    width: 300px;
    height: 150px;
  }
  #main-logo {
    transform: scale(1.5) translate(-25rem, -15rem);
  }
  .home-text-wrapper {
    transform: translate(0rem, 0rem);
  }
  .button-wrapper {
    transform: translate(8rem, 0.7rem);
  }
  .about-textbox {
    transform: translateX(0);
    padding-top: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-text {
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: center;
  }
  .about-greeting {
    font-size: 3rem;
    padding-bottom: 3rem;
  }
  .about-contents {
    padding-top: 8rem;
  }
  .skill-title {
    transform: translate(0rem, -10rem);
  }
  .grid-4 {
    grid-template-columns: repeat(3, 8rem);
    grid-template-rows: repeat(4, 8rem);
  }
  .skill-wrapper span {
    font-size: 1rem;
  }
  .project-title {
    transform: translateX(0rem);
  }
  .project-content-wrapper {
    padding: 0rem 2rem;
  }
  .card-back-title {
    font-size: 2rem;
  }
  .card-back-text {
    font-size: 1.2rem;
    padding: 1rem 2rem;
  }
  .contact-title {
    transform: translateX(0rem);
  }
  .contact-form {
    padding-bottom: 6rem;
    width: 85%;
  }
}
