* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #1d1d1d;
  font-family: 'Rubik', sans-serif;
  color: #ffffff;
}
main {
  position: relative;
}
section {
  min-height: 100vh;
}

.menu-padding {
  padding-left: 9rem;
  width: calc(100% - 9rem);
}

#Vector_3 path,
#Vector_4 path,
#WOONG .stroke-path {
  stroke-dasharray: 350;
}

svg:hover .Vector {
  stroke-dasharray: 200;
  animation: dash 1s infinite linear;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes dash {
  to {
    stroke-dashoffset: 1500;
  }
}
